@import url('https://fonts.google.com/specimen/Antic+Slab?category=Serif,Sans+Serif,Display,Monospace');
@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@600&display=swap');

*{
    box-sizing: border-box;
    outline: none;
}

html, body{
    padding: 0;
    margin: 0;
}
body{
    font: 18px;
    font-family: 'Pontano Sans', sans-serif;
    background: url(sunny-background.jpg) center no-repeat fixed;
    background-size: cover;
    align-items: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.app-card{
    background-color: rgb(241, 105, 207);
    backdrop-filter: blur(50px);
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    text-align: center;
    flex-direction:column;
    gap: 1.5 rem;
    
    img {
        display: table;
        margin: auto;
    }
    [data-location] {
        background: rgba( black, .3 );
        padding: 10px, 15px;
        border-radius: 6px;
        font-size: 1.1em;
        border: none;
        color: white;
        text-align: center;
        cursor: pointer;

        &:hover{
            color: #ffffff;
        }
    }
    [data-date]{
        font-size: 20px;
    }

    [data-temperature]{
        font-size: 4em;
        display: flex;
        justify-content: center; 
    }
    [data-temperature-text]{
            font-size: 28px;
            padding: 0px;
            margin: 0px;
    }
    .app-card-top{
        background-color: violet;
        border-bottom-left-radius: 250px;
        border-bottom-right-radius: 250px;
        padding: 2rem;
        padding-bottom: 3rem;    
    }
    .app-card-bottom{
        background-color: #398ff1 rgb(241, 105, 207);
        display: grid;
        grid-template-columns: auto auto;
        padding: 1.5rem;
        padding-top: 0;
        gap: 1.5rem;
        min-height: 5cm;
    }
    [button]{
        border-radius: 8px;
        background-color: lightgrey;
        &:hover{
            background-color: white;
        }
    }
}

